<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^monmamo\.com$ [NC]
    RewriteRule ^build/(.*)$ /public/build/$1 [R=302,L]

    RewriteCond %{HTTP_HOST} ^monmamo\.com$ [NC]
    RewriteRule ^images/(.*)$ /public/images/$1 [R=302,L]

    RewriteRule ^(.*)$ /public/index.php [L] 

</IfModule>
