
/* Footer */
footer {
    background-color: black;
    color: white;
}

a.footer-link {
    font-family: "Roboto Condensed" !important;
    color: var(--bs-cyan);
    text-decoration: none;
}

a.social {
    font-family: "Roboto Condensed" !important;
    color: var(--bs-cyan);
    text-decoration: none;
}


a.footer-link:hover {
    color: var(--bs-pink);
    text-decoration: none;
}


.footer-column-header {
    color: white;
    font-size: 20pt
}


.footer > a {
    font-family: "Roboto Condensed" !important;
}